.Select-control {
    background-color: #222 !important;
}

.Select.is-focused > .Select-control {
    background-color: #222;
}

#school-input {
    color: white;
}

.Select-value-label {
    color: white;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid #333;
}

.VirtualizedSelectOption {
    background-color: #222;
    color: white;
 }

.VirtualizedSelectFocusedOption {
    background-color: #222;
    #opacity: .7;
    color: #ffaa00
}

.Select.is-focused:not(.is-open) > .Select-control {
    background-color: #222;
    #border-color: var(--primary); 
    border-color: #222
    box-shadow: none;
}

